<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
              <span> &copy; <a title="More info"
                                        href="https://www.youtube.com/watch?v=8Z6gqSPUM9c"
                                        target="_blank">Địa chỉ: 03 Ngô Quyền, Thành phố Huế |
                                        Điện thoại: (84-0234) 3890888 | 
                                        Email: hue_interhosp@hueimc.vn</a></span>
        </div>
    </div>
</footer>
